---
# Only the main Sass file needs front matter (the dashes are enough)
---
$grey: #FCFCFC;

$sky: #D4F2FF;
$stone: #30425D;
$dark: #031424;

$blue-one: #2ABAFD;
$blue-two: #67C7F4;
$blue-three: #91CFEC;
$blue-four: #AAE0F9;

$red-one: #F64B57;
$red-two: #FB7881;
$red-three: #FDAAAF;
$red-four: #FCCCD0;


@charset "utf-8";

@import "base";
