---
layout: page
---
<section id="fulfillment">
  <div class="container">
    <div class="row">
      <h1 class="text-center">¿Cuánto ha cumplido el gobierno de Michelle Bachelet?</h1>
      <div class="col-md-8 col-md-offset-2">
        <p class="text-center">
          Tras cumplirse el tercer año de Michelle Bachelet en el poder, lanzamos una nueva versión del estudio "Del Dicho al Hecho".
          Revisa aquí los avances del cumplimiento de sus promesas de gobierno.
          <a href="{{ site.baseurl }}metodologia.html" class="btn btn-default btn-sm" onclick="ga('send','event','estudio-revisar-metodologia','click')">Revisar metodología</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <div class="estudio-total">
          <p class="label-total text-center">48%</p>
          <h3 class="label-title text-center">cumplimiento total <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Porcentaje que indica el promedio de avance de todas las promesas contenidas en el estudio"></i></h3>
        </div>
        <script>
          new Chartist.Pie('.estudio-total', {
            labels: [" ","48%"],
            series: [100, 30]
            }, {
            donut: true,
            donutWidth: 19,
            startAngle: 0,
            total: 100,
            showLabel: false,
            labelOffset: -60,
          });
        </script>
      </div>
      <div class="col-md-3">
        <div class="estudio-total">
          <p class="label-total text-center">2.5 de 4</p>
          <h3 class="label-title text-center">coherencia total <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Número que indica el promedio de consistencia de todas las promesas respecto a los proyectos de ley enviados al Congreso"></i></h3>
        </div>
      </div>
    </div>
    <div class="row movil">
      <div class="col-md-3 text-center">
        <h3 class="sub">Total de promesas</h3>
        <div class="total-result sub">
          [[analisis.nro_promesas]]
        </div>
      </div>
      <div class="col-md-3 text-center">
        <h3 class="sub">Total de proyectos enviados</h3>
        <div class="total-result sub">
          [[analisis.nro_proyectos]]
        </div>
      </div>
      <div class="col-md-3 text-center">
        <h3 class="sub">Capacidad <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Indicador que señala el número de promesas que presentan puntuación máxima en su nivel de avance (100%) y su grado de coherencia (4)"></i></h3>
        <div class="total-result sub">
          [[analisis.capacidad]]
        </div>
      </div>
      <div class="col-md-3 text-center">
        <h3 class="sub">Total de urgencias <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Es la suma de todas las urgencias asociadas a los proyectos de ley contenidos en el estudio"></i></h3>
        <div class="total-result sub">
          [[analisis.nro_urgencias]]
        </div>
      </div>
    </div>
    <div class="panel panel-default legend">
      <div class="row">
        <div class="col-md-9">
          <h4>Áreas</h4>
        </div>
        <div class="hidden-xs hidden-sm col-md-3 text-center">
          <div class="row">
            <div class="col-md-6">
              <h5>Avance del área <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Porcentaje que indica el promedio del cumplimiento de las promesas que pertenecen a un área determinada." tooltip></i></h5>
            </div>
            <div class="col-md-6">
              <h5>Coherencia del área</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default" ng-repeat="p in analisis.promisses">
            <div class="panel-heading" role="tab" id="headingOne-[[p.id]]">
              <div class="row">
                <div class="col-md-4">
                  <h4 class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#cumplimiento-[[p.id]]" aria-expanded="false" aria-controls="cumplimiento-[[p.id]]"><span>[[p.category]]</span></h4>
                  <div class="sec-promesas">
                    <h5>[[p.data.length]] promesa(s)<br>([[p.status.completas]] completas - [[p.status.incompletas]] en proceso - [[p.status.sin_progreso]] sin progreso)</h5>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="[[p.avance_total]]" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: [[p.avance_total]]%;"></div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <p class="hidden-md hidden-lg text-center">Avance del área <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Porcentaje que indica el promedio del cumplimiento de las promesas que pertenecen a un área determinada." tooltip></i></p>
                      <div class="category-result text-center">
                        [[p.avance_total]]%
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <p class="hidden-md hidden-lg text-center">Coherencia del área</p>
                      <div class="category-result text-center">
                        [[p.coherencia]]
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--row-->
            </div><!--panel-heading-->
            <div id="cumplimiento-[[p.id]]" ng-class='hash === "cumplimiento-"+p.id ? "in" : (hash === "" && $first ? "in" : "")' class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne-[[p.id]]">
              <div class="panel-body">
                <div class="panel-promise" ng-repeat="data in p.data">
                  <div class="row">
                    <div class="col-md-9">
                      <h4>[[data.titulo]]</h4>
                      <p>[[data.promesa]]</p><br>
                      <p ng-if="data.boletin != ''"><span>Proyectos asociados</span> <a class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal-proyecto-[[p.id]]-[[data.id]]">Proyecto [[data.boletin]]</a>
                      <p ng-if="data.total_urgencias > 0"><span>Total de urgencias <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="El número total de urgencias indica la suma de las distintas urgencias -simple, suma, discusión inmediata- que tiene un proyecto de ley asociado a una promesa" tooltip></i></span> <span class="badge">[[data.total_urgencias]]</span></p>
                    </div>

                    <div class="col-md-3 text-center">
                      <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                          <p class="text-center">Avance de la promesa <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Porcentaje que indica el nivel de cumplimiento de una promesa presidencial, en su estado de tramitación en el Congreso" tooltip></i></p>
                          <div class="promise-result text-center">
                            [[data.avance_total]]
                          </div>
                          <p class="text-center"><a href="#" data-toggle="modal" data-target="#myModal-cumplimiento-[[p.id]]-[[data.id]]">¿Por qué?</a></p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                          <p class="text-center">Coherencia de la promesa <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Indicador que determina el grado de consistencia entre los contenidos de una promesa presidencial y un proyecto de ley enviado al Congreso" tooltip></i></p>
                          <div class="promise-result text-center">
                            [[data.coherencia]]
                          </div>
                          <p class="text-center"><a href="#" data-toggle="modal" data-target="#myModal-coherencia-[[p.id]]-[[data.id]]">¿Por qué?</a></p>
                        </div>
                      </div><!--row-->
                    </div><!--text-center-->
                    {% include proyecto_modal.html %}
                    {% include cumplimiento_modal.html %}
                    {% include coherencia_modal.html %}
                  </div><!--row-->
                </div><!--panel-promises-->
              </div><!--panel-body-->
            </div><!--col-md-4-->
          </div><!--panel-default-->
        </div><!--panel-group-->
      </div><!--panel-body-->
    </div><!--panel-default-->
  </div><!--panel-container-->
</section>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
