<!-- Modal coherencia -->
    <div class="modal fade" id="myModal-coherencia-[[p.id]]-[[data.id]]" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">[[data.coherencia]]/4 escala de coherencia - ¿Por qué?</h4>
          </div>
          <div class="modal-body">
            <p></p>
            <p ng-if="data.coherencia > 1">[[data.justificacion_avance]]</p>
            <p ng-if="data.coherencia == 1">Promesa no cuenta con proyecto de ley asociado</p>
          </div>
        </div>
      </div>
    </div>
