<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-10">
        Un proyecto de <a href="//ciudadanointeligente.org" target="_blank"><img src="{{ site.baseurl }}/img/logo-fci.svg" title="Fundación Ciudadanía Inteligente" class="logo"></a>

        <div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2">
        <ul class="list-unstyled">
          <li><a href="mailto:info@ciudadania.org" class="email-prensa" target="_top"><i class="fa fa-envelope-o"></i> Mándanos un correo</a></li>
          <li><a href="//github.com/ciudadanointeligente/deldichoalhecho.github.io" target="_blank"><i class="fa fa-github-alt"></i> Revisa nuestro código</a></li>
          <li><a href="https://www.twitter.com/ciudadania_i" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> @ciudadania_i</a></li>
          <li><a href="https://www.facebook.com/ciudadaniai/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> Ciudadanía Inteligente</li></a>
         <li><a href="https://www.instagram.com/ciudadaniai/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> @ciudadaniai</li></a>
        </ul>
      </div>
    </div>
  </div>
</footer>
