<header>
  <nav id="menu" class="navbar navbar-default header-menu fixed">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->

      <div class="navbar-header">
        <div class="brand">
          <a class="site-title" href="{{ site.baseurl }}/" onClick="ga('send', 'event', 'homepage', 'click');"><img src="/img/logo-ddah.svg"></a>
          <div class="sub-brand"><a href="http://ciudadanointeligente.org" target="_blank" onClick="ga('send', 'event', 'sub-brand', 'click');">un proyecto de Ciudadano Inteligente</a>
          </div>
        </div>
        <a type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="navbar" onClick="ga('send', 'event', 'menu-mobile', 'click');">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ site.baseurl }}que-es.html" onClick="ga('send', 'event', 'que-es', 'click');">¿Qué es?</a></li>
          {% if site.launched %}
          <li><a href="{{ site.baseurl }}metodologia.html" onClick="ga('send', 'event', 'metodologia', 'click');">Metodología</a></li>
          <li><a href="{{ site.baseurl }}estudio.html" onClick="ga('send', 'event', 'estudio', 'click');">Estudio</a></li>
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
