<div id="welcome">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <h1 class="text-center">Un título</h1>
          <div class="col-md-4 col-md-offset-4">
            <div class="estudio-total">
              <p class="label-total text-center">30%</p>
              <h3 class="label-title text-center">cumplimiento total <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Porcentaje que indica el promedio de avance de todas las promesas contenidas en el estudio" tooltip></i></h3>
            </div>
            <script>
            new Chartist.Pie('.estudio-total', {
                labels: [" ","30%"],
                series: [100, 30]
              }, {
                donut: true,
                donutWidth: 19,
                startAngle: 0,
                total: 100,
                showLabel: false,
                labelOffset: -60,
              });
            </script>
          </div>
          <div class="col-md-4">
            <div class="estudio-total">
              <p class="label-total text-center">2.0 de 4</p>
              <h3 class="label-title text-center">coherencia total <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Número que indica el promedio de consistencia de todas las promesas respecto a los proyectos de ley enviados al Congreso" tooltip></i></h3>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-6">
          <ul class="list-unstyled list-inline hidden-xs">
            <li>
              <a href="#" onclick="window.open(&quot;//twitter.com/share?url=http:&amp;via=ciudadanoi&amp;hashtags=Midamos&amp;text=¿Cuánto han avanzado las promesas legislativas del 21/05/15? Midamos los avances en http://deldichoalhecho.cl&quot;,&quot;twitter&quot;,&quot;width=450, height=250&quot;)">
                 <span class="fa-stack fa-lg">
                 <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                 <i class="fa fa-twitter fa-stack-1x"></i>
               </span>
             </a>
            </li>
            <li>
              <a href="#" onclick="window.open(&quot;//www.facebook.com/sharer/sharer.php?u=http://deldichoalhecho.cl&quot;,&quot;facebook&quot;,&quot;width=550, height=350&quot;)">
                <span class="fa-stack fa-lg">
                 <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                  <i class="fa fa-facebook fa-stack-1x"></i>
                </span>
              </a>
            </li>
          </ul>
          <ul class="list-unstyled visible-xs">
            <li>
              <a href="#" onclick="window.open(&quot;//twitter.com/share?url=http:&amp;via=ciudadanoi&amp;hashtags=Midamos&amp;text=¿Cuánto han avanzado las promesas legislativas del 21/05/15? Midamos los avances en http://deldichoalhecho.cl&quot;,&quot;twitter&quot;,&quot;width=450, height=250&quot;)">
                 <span class="fa-stack fa-lg">
                 <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                 <i class="fa fa-twitter fa-stack-1x"></i>
               </span>
             </a>
            </li>
            <li>
              <a href="#" onclick="window.open(&quot;//www.facebook.com/sharer/sharer.php?u=http://deldichoalhecho.cl&quot;,&quot;facebook&quot;,&quot;width=550, height=350&quot;)">
                <span class="fa-stack fa-lg">
                 <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                  <i class="fa fa-facebook fa-stack-1x"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-xs-6 col-xs-offset-2 col-sm-9 col-sm-offset-0 col-md-6 col-md-offset-0 text-right">
          <a href="{{ site.baseurl }}estudio.html" class="hidden-xs btn btn-primary btn-lg">Ver estudio</a>
          <a href="{{ site.baseurl }}estudio.html" class="visible-xs btn btn-primary">Ver estudio</a>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="que-es-home">
  <div class="container">
    <h2 class="text-center">¿Qué es Del Dicho al Hecho?</h2>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>Del Dicho al Hecho es un estudio que mide el cumplimiento de las promesas legislativas establecidas por el Gobierno en su Programa presidencial y discurso del 21 de mayo.</p><br>Con esto buscamos dar información que empodera a los ciudadanos y ciudadanas en el ejercicio de su derecho a exigir el cumplimiento de las promesas realizadas por los representantes, fortaleciendo su capacidad de fiscalización y control de gestión.</p>
      </div>
    </div>
  </div>
</section>

<section id="resume">
<div class="container">
  <h2 class="text-center">Título</h2>
  <div class="row">
    {% assign x = 1 %}
    {% for c in site.data.cumplimientos %}
      {% assign cnt = forloop.index | modulo: 3 %}
    <div class="cumplimientos col-sm-4 col-md-4">
      <h3 class="text-center"><a href="/estudio.html#cumplimiento-{{x}}" onClick="ga('send', 'event', 'home-{{c.area}}', 'click');">{{c.area}}</a></h3>
      <div class="chart-{{ x }}"></div>
      <div class="text-center promise-result home">{{c.total}}</div>
      <p class="text-center home">de avance</p>
      <p class="text-center">Coherencia con la promesa {{c.escala}} de 4</p>
      <a class="btn btn-default btn-sm btn-block home" href="/estudio.html#cumplimiento-{{x}}" onClick="ga('send', 'event', 'home-{{c.area}}-ver-mas', 'click');">Ver más</a>
      <script>
      new Chartist.Pie('.chart-{{ x }}', {
          series: [100, {{c.total | remove: '%' }}]
        }, {
          donut: true,
          donutWidth: 16,
          startAngle: 0,
          total: 100,
          showLabel: false
        });
      </script>
    </div>
      {% assign x = x | plus :1 %}
    {% if cnt == 0 %}
  </div>
  <div class="row">
    {% endif %}
    {% endfor %}
  </div>
</div>
</section>
